---
import { Image } from 'astro:assets';

const { bgColor, textColor, size, text, iconPath, iconAlt, iconWidth, iconHeight, className } =
  Astro.props;
---

<button
  class=`flex items-center rounded-standard px-[30px] py-[5px] font-poppins text-tiny font-bold ${bgColor || ""} ${textColor || ""} ${size || ""} ${className || ""}`
>
  {iconPath && <Image src={iconPath} alt={iconAlt} width={iconWidth} height={iconHeight} />}
  {text}
</button>
